.item {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.item img {
  width: 100%;
  object-fit: cover;
  height: 11rem;
}

.content {
  width: 100%;
  padding: 0 1rem;
  text-align: center;
}


.content h2 {
  margin: 0.5rem 0;
}

.date,
.address {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.actions a {
  display: block;
}

.actions a span {
  vertical-align: middle;
}